$light-green: #68cc4f;
$pastel-green: #66925b;
$main-green: #407260;
$dark-green: #132e11;
$red: #c02424;
$white: #fff;
$dirty-white: #cecece;
$grey: #5e5e5e;
$dark-grey: #161414;
$half-dark: #1e1e1e;
$black: #000;
$facebook: #4267b2;
$facebook2: #2d5ab4;
$instagram: #e1306c;
// $violet: rgb(86, 56, 155);

$main-gradient: linear-gradient(70deg, #66925b 0%, #1e1e1e 100%);
$second-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
