@use "./colors" as c;
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: c.$white;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 4.6rem;
  font-family: "Delicious Handrawn", cursive;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
  margin: 0 20px;
}

p {
  font-size: 1.6rem;
  line-height: 22px;
}

a {
  font-size: 1.6rem;
  text-decoration: none;

  &:active {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

img {
  height: auto;
  width: 100%;
  max-width: 600px;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  display: flex;
  // justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  list-style-type: none;

  li {
    margin: 20px 15px;
  }
}

footer {
  height: 100vh;
  padding: 10px 0;
  margin-top: 20px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

// -----------------------------------------

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: c.$dirty-white;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }

  &:hover {
    .burger-btn__bars::after,
    .burger-btn__bars::before {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::after,
  &__bars::before {
    position: absolute;
    right: 0;
    height: 3px;
    content: "";
    background-color: c.$black;
    transition: width 0.3s;
  }

  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }

    &::before {
      top: 27px;
      width: 30%;
    }
  }
}

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: c.$dark-grey;
  z-index: 100;

  &--active {
    transform: translateX(0);
  }

  &__item {
    // transform: translateX(50%);
    position: relative;
    display: block;
    margin: 0.1em 0;
    padding: 0.1em 1em;
    font-size: 2.8rem;
    color: c.$white;
    text-align: center;
    text-decoration: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      transform: scaleY(0);
      transition: transform 0.3s;
      background-color: c.$white;
      content: "";
    }

    &:hover::before {
      transform: scaleY(1);
    }
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    width: 150px;
    .fa-brands {
      padding: 15px;
      font-size: 5rem;
    }

    .fa-facebook {
      color: c.$facebook;
    }

    .fa-instagram {
      color: c.$instagram;
    }
  }
}

.nav-desktop {
  display: none;
  position: fixed;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 0 30px;
  background-color: rgba(20, 20, 20, 0.45);
  transition: 0.3s;
  z-index: 100;

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item,
    a,
    p {
      display: inline-block;
      height: 100%;
      margin-right: 10px;
      padding: 10px 5px;
      font-size: 1.8rem;
      color: c.$white;
      transition: color 0.2s;
      overflow: hidden;

      &:hover {
        // color: rgb(59, 150, 83);
        color: rgb(3, 92, 26);
      }

      // &::after {
      //   content: "";
      //   display: inline-block;
      //   visibility: hidden;
      //   height: 3px;
      //   width: 100%;
      //   transform: translateX(-120%);
      //   background-color: #fff;
      //   transition: 0.3s;
      // }

      // &:hover::after {
      //   transform: translateX(0);
      //   visibility: visible;
      // }
    }

    .fa-facebook {
      color: c.$facebook;
      font-size: 3rem;
      transition: color 0.2s;

      &:hover {
        color: c.$facebook2;
      }
    }

    .logo {
      a {
        padding-top: 30px;
        font-size: 3rem;
        font-family: "Delicious Handrawn", cursive;
      }
    }
  }
}

.scroll-up {
  transform: translateY(0%);
}
.scroll-down {
  transform: translateY(-150%);
}
// ===================================================================================================

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65)),
    url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  color: c.$dirty-white;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  padding: 50px 20px;
  margin-top: 0;
  text-align: center;
  background-color: c.$white;
  color: c.$black;
  font-size: 2rem;
  overflow: hidden;
}

.hours {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  text-align: center;
  background-color: c.$dark-grey;
  color: c.$white;
  font-size: 2.8rem;
}

// ===================================================================================================

@media (min-width: 375px) {
  .info {
    height: 40vh;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .burger-btn,
  .nav {
    display: none;
  }

  .nav-desktop {
    display: flex;
  }
}

@media (min-width: 1200px) {
}
