@use "./colors" as c;
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  // background-color: c.$white;
  // background-color: c.$black;
  font-family: "Montserrat", sans-serif;
  scroll-padding-top: 30px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 4.6rem;
  font-family: "Delicious Handrawn", cursive;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.6rem;
}

h3 {
  margin: 0 20px;
  text-align: center;
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 22px;
}

a {
  font-size: 1.6rem;
  text-decoration: none;

  &:active {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

img {
  height: auto;
  width: 100%;
  max-width: 600px;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  display: flex;
  // justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  list-style-type: none;

  li {
    margin: 20px 15px;
  }
}

footer {
  height: 100vh;
  padding: 10px 0;
  margin-top: 20px;
  background-color: c.$white;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

// -----------------------------------------

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: c.$white;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }

  &:hover {
    .burger-btn__bars::after,
    .burger-btn__bars::before {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::after,
  &__bars::before {
    position: absolute;
    right: 0;
    height: 3px;
    content: "";
    background-color: c.$black;
    transition: width 0.3s;
  }

  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }

    &::before {
      top: 27px;
      width: 30%;
    }
  }
}

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: c.$dark-grey;
  z-index: 100;

  &--active {
    transform: translateX(0);
  }

  &__item {
    // transform: translateX(50%);
    position: relative;
    display: block;
    margin: 0.1em 0;
    padding: 0.1em 1em;
    font-size: 2.8rem;
    color: c.$white;
    text-align: center;
    text-decoration: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      transform: scaleY(0);
      transition: transform 0.3s;
      background-color: c.$white;
      content: "";
    }

    &:hover::before {
      transform: scaleY(1);
    }
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    width: 150px;
    .fa-brands {
      padding: 15px;
      font-size: 5rem;
    }

    .fa-facebook {
      color: c.$facebook;
    }

    .fa-instagram {
      color: c.$instagram;
    }
  }
}

.nav-desktop {
  display: none;
  position: fixed;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 0 30px;
  background-color: rgba(20, 20, 20, 0.45);
  transition: 0.3s;
  z-index: 100;

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item,
    a,
    p {
      display: inline-block;
      height: 100%;
      margin-right: 10px;
      padding: 10px 5px;
      font-size: 1.8rem;
      color: c.$white;
      transition: color 0.2s;
      overflow: hidden;

      &:hover {
        // color: rgb(59, 150, 83);
        color: rgb(3, 92, 26);
      }

      // &::after {
      //   content: "";
      //   display: inline-block;
      //   visibility: hidden;
      //   height: 3px;
      //   width: 100%;
      //   transform: translateX(-120%);
      //   background-color: #fff;
      //   transition: 0.3s;
      // }

      // &:hover::after {
      //   transform: translateX(0);
      //   visibility: visible;
      // }
    }

    .fa-facebook {
      color: c.$facebook;
      font-size: 3rem;
      transition: color 0.2s;

      &:hover {
        color: c.$facebook2;
      }
    }

    .logo {
      a {
        padding-top: 30px;
        font-size: 3rem;
        font-family: "Delicious Handrawn", cursive;
      }
    }
  }
}

.bg-dark {
  // background-color: rgb(20, 20, 20);
  background-color: c.$white;

  .nav-desktop__item,
  a,
  p {
    color: black;
  }
}

.scroll-up {
  transform: translateY(0%);
}
.scroll-down {
  transform: translateY(-150%);
}
// ===================================================================================================

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65)),
    url("../img/hero-small.jpg");
  background-position: center;
  background-size: cover;
  color: c.$dirty-white;
  overflow: hidden;

  .check {
    margin-top: 20px;
    padding: 15px 25px;
    background-color: c.$main-green;
    color: c.$white;
    border-radius: 8px;
    transition: background-color 0.3s;

    &:hover {
      background-color: c.$dark-green;
    }
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  padding: 50px 20px;
  margin-top: 0;
  text-align: center;
  background-color: c.$white;
  color: c.$black;
  font-size: 2rem;
  overflow: hidden;
}

.hours {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 10px 40px 10px;
  text-align: center;
  background-color: c.$dark-grey;
  color: c.$white;
  font-size: 2.8rem;

  &__note {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  &__info {
    padding: 30px 10px;
    text-align: center;
    border: 1px solid white;
  }
}

.aboutus {
  &__content {
    margin: 50px 20px;
  }

  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      text-align: center;
      margin: 30px 5px;
    }

    &--card2 {
      p {
        margin-bottom: 0;
      }
    }
  }

  &__green-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: c.$white;
    text-align: center;

    .green-box__card {
      padding: 35px 20px;
      background-color: c.$main-green;

      &--light {
        background-color: c.$light-green;
        // color: c.$black;
      }
    }

    i {
      margin-bottom: 30px;
      color: c.$black;
      font-size: 7rem;
    }
  }
}

.prices {
  .section-title {
    margin: 30px;
  }

  &__box {
    display: flex;
    margin: 0 15px;
    overflow: auto;

    .prices__card {
      min-width: 271px;
      margin-right: 15px;
      margin-bottom: 20px;
      padding: 15px;
      // background-color: c.$light-grey;
      background-color: #edf2e7;
      box-shadow: 4px 3px 4px 0px rgba(112, 112, 112, 0.6);
      border-radius: 15px;

      .card__title {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 126px;
        padding: 40px 45px;
        background-color: c.$dark-grey;
        color: c.$white;
        box-shadow: 0px 5px 0px 0px rgba(214, 214, 214, 0.5);
        border-radius: 12px;
      }

      .card__content {
        .heading {
          margin-top: 25px;
          margin-bottom: 15px;
        }

        .card__options {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .option {
            display: flex;
            justify-content: space-between;
            width: 95%;
            margin: 5px 0;
            padding: 10px 20px;
            background-color: c.$white;
            box-shadow: 0px 1px 0px 0px rgba(82, 147, 124, 0.5);
            border-radius: 5px;
          }
        }
      }
    }
  }
}
// ===================================================================================================

@media (min-width: 375px) {
  .info {
    height: 40vh;
  }

  .aboutus {
    &__card {
      p {
        margin: 30px 50px;
      }

      &--card2 {
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .prices {
    .section-title {
      margin: 45px;
    }

    &__box {
      .prices__card {
        margin-right: 25px;
        .card__title {
          padding: 40px 60px;
        }
      }
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.8rem;
  }

  .burger-btn {
    top: 50px;
    right: 50px;
  }

  .hero {
    .check {
      margin-top: 60px;
    }
  }

  .info {
    height: 30vh;
    padding: 50px 90px;
  }

  .hours {
    &__info {
      padding: 55px 10px;
    }
  }

  .aboutus {
    &__green-box {
      flex-direction: row;
      background-color: c.$main-green;
      .green-box__card {
        width: 34%;
      }
    }
  }
}

@media (min-width: 992px) {
  body,
  html {
    scroll-padding-top: 78px;
  }

  .burger-btn,
  .nav {
    display: none;
  }

  .nav-desktop {
    display: flex;
  }

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65)),
      url("../img/hero.jpg");
  }

  .aboutus {
    .wrapper {
      max-width: 1400px;
    }
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__card {
      display: flex;
      flex-direction: row;
      margin: 30px;

      p {
        margin: 30px 30px;
      }

      img {
        margin-right: 60px;
      }

      &--card2 {
        flex-direction: row-reverse;

        img {
          margin-right: 0;
          margin-left: 60px;
        }
      }
    }

    &__green-box {
      height: 400px;
      justify-content: space-around;
      // background-color: c.$dark-green;
      // background-image: linear-gradient(
      //     rgba(11, 43, 31, 0.9),
      //     rgba(12, 48, 37, 0.9)
      //   ),
      //   url("../img/bg-park.jpg");
      background-image: linear-gradient(
          rgba(7, 20, 15, 0.9),
          rgba(7, 22, 18, 0.9)
        ),
        url("../img/bg-park.jpg");
      background-attachment: fixed;
      background-position: center;
      .green-box__card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-image: linear-gradient(15deg, #0f5c3c 0%, #619c8f 100%);
      }
    }
  }
}

@media (min-width: 1200px) {
  .aboutus {
    &__green-box {
      height: 540px;
      justify-content: center;
      background-color: c.$dark-green;
      .green-box__card {
        width: 420px;
        height: 420px;
        margin-right: 1%;
        margin-left: 1%;
        // padding: 100px;
        border-radius: 50%;

        p {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (min-width: 1366px) {
  .prices {
    &__box {
      overflow: hidden;
    }
  }
}
